body {
  margin: 40px;
  height: 100vh;
  display: flex;
  align-items: flex-start; 
  justify-content: center;
  font-family: sans-serif;
  font-size: 18px;
  background: url(/images/UTA_Background_2.jpg);
  background-size: cover;
  padding-top: 25px; 
}


  input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 2px solid #000897;
    border-radius: 50px;
    box-sizing: border-box;
  }

  label{
    font-size: 1.4rem;
    font-weight: 300;
    margin-top: 1.2rem;
    padding: 3px;
    
  }
  h1 {
    color: #000897;
    text-align: center;
    letter-spacing: 1.5px;
    margin: 20px 0; 
    padding: 0; 
  }

  
  
  button {
    width: 100%;
    background-color: #000897;
    color: white;
    padding: 14px 20px;
    margin: 9px 0;
    border: none;
    border-radius: 50px;
    cursor: pointer;
  }
  
  
  button[type='four hours']:hover {
    background-color: #0400d8;
  }

  button[type='One day']:hover {
    background-color: #0400d8;
  }

  button[type='One week']:hover {
    background-color: #0400d8;
  }

  button[type='One month']:hover {
    background-color: #0400d8;
  }
  
  button[type=submit]:hover {
    background-color: #0400d8;
  }

  button[type=back]:hover {
    background-color: #0400d8;
  }

  button[type=home]:hover {
    background-color: #0400d8;
  }
  
  div {
    border-radius: 5px;
    background-color: #f2f2f2e7;
    padding: 30px;
    padding-bottom: 50px;
  }
  
  p {
    font-size: 38px;
    letter-spacing: 1px;
    margin: 0; 
    padding: 20px 40px;
    font-size: 2rem;
  }


  .container {
    display: block;
    position: relative;
    padding-left: 95px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 18px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  .checkmark {
    position: absolute;
    top: 0;
    left: 50px;
    height: 25px;
    width: 25px;
    background-color: #ff9500;
    border-radius: 50%;
  }
  
  .container:hover input ~ .checkmark {
    background-color: #fbdbad;
  }
  
  .container input:checked ~ .checkmark {
    background-color: #000897;
  }
  
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  .container .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #fbdbad;
  }
